html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  transition: all 0.3s ease-in;
}
#my_button{
    position:absolute;
    color: #fff;
    background-color: #D22F27;
    padding: 11px;

    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -o-table-baseline:central;
    width:80px;
    height:50px;
    left:5%;
    text-align:center;
    text-decoration:none;
    cursor: pointer;

    z-index: 2;

    left:0px;
    top:75px;
    margin: 0px auto;

    border-radius: 15px 0px 0px 15px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
 #my_button:hover
   {
       background-color:#b92c25;
   } 
#my_button > img{
  margin-top: -0px;
  width: 24px;
  fill: white;
}
.sidemenu
{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 30px;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    border-right: 6px solid #D22F27;
}
.sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    color:#b92c25;
    display: block;
    transition: 0.3s;
  }
  .sidemenu a:hover {
    color: #D22F27;
  }
  .sidemenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .card{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  }
  h1{
    margin-left: 15px;
    font-size: 25px;
  }
  h1:hover{
    text-decoration: 2px solid underline;
    opacity: 0.9;
    cursor: pointer;
  }
  h3{
    margin-left: 15px;
    font-size: 16px;
  }
  .mapIcon{
    width: 20px;
    color: #D22F27;
    fill: #D22F27;
  }
  .card-img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .card > span{
    margin: 10px 0px;
    display: flex;
  }
  b{
    color: #25b92a;
    margin-left: 15px;
    padding-right: 5px;
  }
  .icon{
    width: 20px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
