*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-color: white;
    padding: 0px 150px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    width: 80%;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 30px;
}
nav{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-icon{
    width: 42px;
}
nav ul, footer ul{
    text-decoration: none;
    list-style-type: none;
}
nav ul li, footer ul li{
    display: inline;
    margin: 0px 30px;
}
nav ul li:hover, footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
a{
    color: #000000;
    text-decoration: none;
}
#btnDarujKrv{
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 1px;
    width: 171px;
    height: 50px;
    margin-top: 20px;
    background: #D22F27;
}
#btnDarujKrv:hover{
    opacity: 0.8;
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 20px 100px 20px 40px;
    background-color: white;
    border-right: 11px solid #D22F27;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image{
    max-width: 781px;
}
.image > img{
    width: 100%;
}
.details{
    display: flex;
    justify-content: space-between;
}
h2{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    opacity: 0.6;
    padding-bottom: 20px;
}
h3{
    font-size: 16px;
    line-height: 26px;
    color: #D22F27;
    margin-bottom: 10px;
}
.btnDaruj{
    border: none;
    outline: none;
    color: white;
    width: 152px;
    height: 51px;

    background: #D22F27;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: auto;
}
.btnDaruj:hover{
    opacity: 0.8;
    cursor: pointer;
}
.main-kontakt{
    margin: 0px 40px;
}
.kontakt{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
strong>span{
    font-weight: normal;
}
.s2{
    margin-top: 3px;
}
main:last-of-type{
    margin-left: auto;
}

.pop-up{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);

    display: none;
    align-items: center;
    justify-content: center;
}
.container{
    z-index: 10;
    width: 50%;
    height: 80%;
    background-color: white;
    padding: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pop-h1{
    text-align: center;
}
.btnMore {
    background: none;
    outline: none;
    border: none;
    color: #D22F27;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #CA2C24;
}
.btnMore:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.9);
    transition: all 0.1s ease-in;
    /* outline: 1px solid #CA2C24; */
}
.container > span{
    position: absolute;
    color: black;
    bottom: 100px;
    left: 450px;
}
.container > span:hover{
    text-decoration: underline;
    cursor: pointer;
}

#btnDaruj{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}